.flexbox {
  width: 1000px;
  height: 600px;
  display: -webkit-box;
  display: box;
  box-orient: horizontal;
}

.flexbox > div
{
  border-radius: 10px;
  border: 2px solid black;
  width: 200px;
  margin: 10px -5px 10px 0px;
  padding: 20px 20px 20px 20px;

}
.flexbox > div{
  background-color:white;
}

.flexbox > div:hover {
  width: 400px;
  font-weight: bold;
  background-color: #d3d3d3;
}

p {
 height: 370px;

}

@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/calligraffitti/v7/vLVN2Y-z65rVu1R7lWdvyF9q9cSakIY5dTu4rft1WBw.ttf);
}

body {
    font-family: "Calligraffitti";
    font-size: 14px;
}

.animat
{
  height: 100px;
  width: 200px;
  -webkit-animation: skew 3s infinite linear;
  -moz-animation: skew 3s infinite linear;
  animation: anim 3s infinite linear;
}
@-moz-keyframes anim
{
  from { -webkit-transform: skewX(0deg); }
  25% { -webkit-transform: skewX(45deg); }
  50% { -webkit-transform: skewY(0); }
  75% { -webkit-transform: skewY(-45deg); }
  to { -webkit-transform: skewY(0); }
}

@-webkit-keyframes anim
{
  from { -webkit-transform: skewX(0deg); }
  25% { -webkit-transform: skewX(45deg); }
  50% { -webkit-transform: skewY(0); }
  75% { -webkit-transform: skewY(-45deg); }
  to { -webkit-transform: skewY(0); }
}
