.flexbox {
  width: 1000px;
  height: 600px;
  display: -webkit-box;
  display: box;
  box-orient: horizontal;
}

.flexbox > div
{
  border-radius: 10px;
  border: 2px solid black;
  width: 200px;
  margin: 10px -5px 10px 0px;
  padding: 20px 20px 20px 20px;

}
.flexbox > div{
  background-color:white;
}

.flexbox > div:hover {
  width: 400px;
  font-weight: bold;
  background-color: #d3d3d3;
}

p {
 font-family: 'Inconsolata';
 height: 370px;

}

body { font-family: "Bitstream Vera Serif Bold", serif }

@media screen{
  @font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    }
}
