body {



	background-color:gray; /*wyswietlane w razie niepowodzenia zaladowania obrazka*/
	/*background-image: url(../img/paski2.jpg);*/
	/**/background:url(../img/circle.png),-webkit-repeating-linear-gradient(right,  #cfffff, #cfffff 5px, white 5px, white 10px);
	background:url(../img/circle.png),-moz-repeating-linear-gradient(right,  #cfffff, #cfffff 5px, white 5px, white 10px);
	background:url(../img/circle.png),-o-repeating-linear-gradient(right,  #cfffff, #cfffff 5px, white 5px, white 10px);

	background:url(../img/circle.png),repeating-linear-gradient(-45deg,  #cfffff, #cfffff 5px, white 5px, white 10px);

	background-attachment:fixed, fixed;


	background-size: 6px 6px,100vw 100vh;
	background-position:center bottom, center center;

   /*background-attachment: fixed;*/
	/*background-position: center bottom;*/
	/*background-size: 100%;*/
	/*background-size: cover;*/
	/*background-position:10% 20%;*/

	height: 400px;

		margin-bottom:10vh;
	margin-left:10vw;
	margin-right:15vw;
	margin-top:10px;
	margin-bottom:20px;
 	width: 80vw;
	/*background-size: 276px 278px;
	background-color:#f9f6ff ;*/
	border-width:1px;
	border-style:dotted;
	border-color:#3c0080;
	width: 80%;
	height:auto;
	padding: 1em 1em 1em 1em;
	border:30px solid transparent;
	border-image:url(../img/frame.png) 30 40 round;

}

header {
	background-color:yellow;
	background:url(../img/shaking_hands.jpg), -webkit-gradient(left, #b78b24 1%,#ffffff 34%);
	background:url(../img/shaking_hands.jpg), -moz-linear-gradient(left, #b78b24 1%,#ffffff 34%);
	background:url(../img/shaking_hands.jpg), -o-linear-gradient(left, #b78b24 1%,#ffffff 34%);
	background:url(../img/shaking_hands.jpg), linear-gradient(45deg, #b78b24 1%,#ffffff 34%);

	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position: right,  left;
	background-origin: border-box;
	border:1px orange solid;
	padding: 5% 10% 5% 10%;
	display:inline-block;

	height:20vh;
	width:80%;
}

header img {
	float:left;
	margin: 3% 10% 3% 3%;
	width:100px; height:100px;
	border-right: 10px double #851aff;
	border-bottom: 10px double #851aff;
	border-top: 10px groove red;
	border-left: 10px groove red;
	background-color:#eeffcc;
}

header h1 {
	font-style:italic;
	font-size:2vw;
	word-spacing:6px;
	font-family:antiqua;
	text-shadow: 3px 3px 5px brown;
}

header h2 {
	font-style:italic;
	font-size:1vw;
	color: brown;
	float:right;
	width:35vw;
}


footer {

	background: -webkit-radial-gradient(center, green, greenYellow);
	background: -moz-radial-gradient(center, green, greenYellow);
	background: -o-radial-gradient(center, green, greenYellow);
	background: radial-gradient(center, green, greenYellow);

	margin: 2vh 2vw 2vh 2vw;
	padding:  1vh 1vw 1vh 1vw;
	font-weight:lighter;
	font-family:impact;
	color:gray;
	font-size:12px;
}


.prompt {
	background-color:orange;
	background-image: url(../img/pencil.png);
	background-size:60px auto;
	background-repeat:no-repeat;
	background-position:center right;
	margin: 2vh 2vw 2vh 2vw;
	background-origin: content-box;
	padding:  1vh 2vw 1vh 1vw;
	display:block;
	border-left: 8px solid #ff7400 ;
	height: 100px;
	font-size:12pt;
	line-height:90%;
	border-radius: 10px 50px;
}

article {
	text-indent: 50px;
	text-align: justify;
	font-family: Arial, Palatino;
	font-weight:lighter;
	word-spacing: 10px;
	width: 80%;
	margin-left:6%;
	line-height:120%;
	border: 1px dotted gray;
	border-left: 8px solid blue;
	background-color:white;
	padding: 10px 10px 10px 15px;
}
