nav {
	background-color:orange;
}

form {
	background-color:white;
	margin: 2vh 2vw 2vh 2vw;
	padding:  1vh 1vw 1vh 1vw;
}

input {
	width: 200px;
}

p:active, h1:active, h2:active, section:active {
	background-color: #fff2e6
}

input:checked {
    margin-left: 50px;
}

textarea:empty {
    border:1px solid yellow;
}

textarea:focus {
    background-color: #d3d3d3;
}

input[type="text"]:enabled {
    border:1px solid pink;
}

a:link {
	color: gray;
}
a:visited {
	color: #000000;
}

input[type="text"]:disabled {
    background: #d3d3d3;
}

li:first-child {
		font-size: 30px;
}

li:last-of-type {
	font-size: 25px;
}

li:last-child {
	font-size: 15px;
}

input:not([type="text"]) {
	font-family: CourierNew;
}

:target[id="form"]{
	font-size: 20px;
}

p[id="dear_client"] {
	font-size: 25px;
}

article:last-child {
    background: pink;
}

article:nth-child(2) {
    background: pink;
}

article:nth-last-child(2) {
    background: pink;
}

a:hover {
	color: blue;
}

required {
  box-shadow: 5px 5px 5px red;
}


form  label {
	font-size:80%;
}



#dost_samochody {
	background-color:#ffe0b3;
}

#param_techniczne {
	background-color:green;
	background-image: url(../img/tools.png);
	background-repeat:repeat;
	background-size: auto 5%;
	background-position:center bottom;
	border:4px solid black;
}


.content {

}

h1, h2 {
	text-shadow: 2px 2px #aaaaff;
	text-transform:uppercase;
	font-size:2vw;
}
h3, h4, h5, h6 {
	font-family:helvetica;
	font-size:1vw;
}

.button {
    display: inline-block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-weight: bold;
	font-size:0.8em;
	margin: 3px 8px 3px 8px;
}

.button:hover {
	background: #2E9CAF;
}
.button2 {
    display: inline-block;
    width: 180px;
    height: 25px;
    background: #65cCAF;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-weight: bold;
	font-size:0.8em;
	margin: 3px 8px 3px 8px;
	font-family:Palatino;
}
.button2:hover {
	background: #22cCAF;
}

ol li {
	font-size:1.2rem;
	font-variant:small-caps;
}

.obr_tab {
	border: 1px solid black;
   border-collapse: collapse;
}

.obr_tab td, th {
	border: 1px solid black;
   border-collapse: collapse;
}



#tabela {
   border: 1px solid black;
   border-collapse: collapse;
   padding: 5px;
   background-color: #ffc;

}

th {
	height:50px;
	font-style:italic;
}

 #tabela td {
	text-align:center;
	color: brown;

}


td.custom {
   background-color: greenYellow;
   vertical-align: top;
   font-weight: bold;
   color:gold;
	 align-items: center;
   padding:5px;
}

td.custom2 {
	background-color:aquamarine;
}

.absolute_position {
	position: absolute;
	top: 500px;
	right: 200px;
}

.static_position {
	position: static;
	height: 50px;
	width: auto;
	background: pink;
}

.bn_absolute_pos1 {
		position: absolute;
		bottom: -500px;
		right: 200px;
}


.bn_absolute_pos2 {
		position: absolute;
		bottom: -520px;
		right: 200px;
}

.clear_pos {

}
