body {
	width: 80vw;
	margin-bottom:10vh;
	margin-left:15vw;
	margin-right:15vw;
	background-color:yellow;
	background-image:url(../img/race2_1.jpg);
	/*sciezka wzgl arkusza styli, nie pliku html*/
	background-size: 80% auto;
	background-repeat:no-repeat;
	
    background-attachment: fixed;
	background-position: center bottom;
	/*background-size: 100%;*/
	/*background-size: cover;*/
	/*background-position:10% 20%;*/
	
	height: 400px;

}

header {
	
}

nav {
	background-color:orange;
}

footer {
	background-color:#fff2e6;
	margin-left: 10%;
	margin-bottom: 80px;
	font-family:impact;
	font-size:
}

.common-backgr {
	background-color: blue;
	
}

#dost_samochody {
	background-color:red;
}

#param_techniczne {
	background-color:green;
}

.img-backgr:before {
	opacity=0.5;
}

.content {
	background-size: 276px 278px;
	width: 80%;
	height:auto;
	background-image: url(../img/paski.jpg);
	background-repeat: repeat-y;
}

h1, h2, h3, h4, h5 {
	text-spacing:3px;
	text-shadow: 2px 2px #aaaaff;
}

.text-small {
	
}

.text-uppercase {
	text-transform: uppercase;
	color: green;
	
}

article {
	text-indent: 50px;
	text-align: justify;
	font-family: Arial, serif;
	word-spacing: 10px;
	width: 60%;
	margin-left:10%;
}

.dropdown-nav {
	border: 2px solid black;
	display:inline;
}

.dropdown-nav  nav{
	display:none;
	margin: 0;
    padding: 0; 
}

.dropdown-nav ul{
	display:none;
	margin: 0;
    padding: 0; 
}

.dropdown-nav:hover ul {
	display:block;
}



.dropdown-nav nav:hover {
	display:block;
}

nav nav {
	display:block;
	margin: 0;
    padding: 0;
	color:blue;
}

nav:hover {
	display:block;
}

nav ul:hover {
	display:block;
}

.obr_tab {
	border: 1px solid black;
   border-collapse: collapse;
}

.obr_tab td, th {
	border: 1px solid black;
   border-collapse: collapse;
}



#tabela {
   border: 1px solid black;
   border-collapse: collapse;
   padding: 5px;
   background-color: #ffc;
   
}

th {
	height:50px;
	font-style:underline;
}

 #tabela td {
	text-align:center;
	color: brown;
	
}


td.custom {
   background-color: greenYellow;
   vertical-align: top;
   font-weight: bold;
   color:gold;
   align:center;
   padding:5px; 
}

td.custom2 {
	background-color:aquamarine;
}